/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}


/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}

/*container styles*/
.container{
  display: flex;
  flex-direction: column;
}
/*nav Styles*/

.nav{
  width:100%;
  height: 3.75rem;
}

.title{
  color:red;
  font-weight: bold;
  width:7.5rem;
  font-size: 1.5rem;
  text-align: center;
  padding:25px;
  border-right: 1px solid gray;
}

.dog-hero{
  width:100%;
}

.dog-hero img{
  width:100%;
}

.info{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
 font-family: 'Open Sans', sans-serif;
 font-size:14px;
 padding:30px;
}

.info .owner{
  width:90px;
  height: 90px;
  border-radius: 50%;
}

.info .name{
  font-weight: bold;
}

.owner-info{
  margin:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ability{
  margin:20px;
  display: flex;
  justify-content: space-between;

}

.detail h1{
  font-size:1.5rem;
  font-weight: normal;
}

.detail h2{
  font-style: 1rem;
}
.booking{
  text-align: center;
}

.booking h2{
  font-size: 1.5rem;
}

.booking .btn{
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
  color:#fff;
  background-color:#ff595f;
  width: 15em;
  height:40px;

}

@media only screen and (min-width:1100px){
  .dog-hero img{
    height:600px;
  }

  .info{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .info > *{
    margin:30px;
  }

  .dog-details .care{
    display: flex;
  }
}