/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

/*info style*/

.info {
  background-color:#fff;
  padding:25px;
}
.info h1{
  margin-bottom:10px;
}

/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}

/*container style*/

.container{
  width:90%;
  margin:0 auto;
}

.profile{
  margin:20px 0;
}
.dog-details{
  background-color:#f7f4f4;
}
/*logo Styles*/

.logo{
  border-right:1px solid #cde0e0;
  height: 60px;
  width:120px;
}

.hero img{
  width:100%;
}

/*info style*/

.info{
  text-align: center;
}


.info .owner-details img{
  border-radius: 50%;
}

.info .owner-details {
  font-size: 14px;
  color:909597;

}

.info .owner-details .name{
  font-weight: bold;
}

.info .pet-details{
   width:100%;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.info .pet-details h1{
  font-size: 22px;
  color:#666a6c;
  font-weight: 600;
}

.info .pet-details .icons{
  width:100%;
  padding: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.booking .price{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*hr style*/
hr{
  width:95%;
  height:1px;
}


/*dog-details sections*/
.dog-details{
  margin:0 20px;
}

.dog-details .about{
  padding:10px 0;
  line-height: 1.5;
  letter-spacing: 1.4;
}

.dog-details .about h3{
  font-size:1.2rem;
  text-align: center;
  margin:20px;
}

.dog-details .care,.dog-details .game,.card > *, .game > *{
  line-height: 1.5;
  padding: 10px 0;
}

.dog-details .game img{
  margin-right: 10px;
}
.contact{
  text-align: center;
  color:#ff6363;
}


.care{
  display: flex;
  flex-direction: column;
}

.dog-details .images img{
  width: 100%;
   margin-top: 20px;
}

@media only screen and (min-width: 1060px){
  .container{
    width:90%;
    margin:0 auto;
  }

  .profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .details{
    width:70%;
    display: flex;
  }

  .info .profile .details .pet-details .icons{
    width:60%;
    display:flex;
    align-items:space-around;
  }

  .dog-details .care{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .dog-details .game{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 62%;
  }

  .dog-details .images{
    margin: 20px 10px;
    display: flex;
    justify-content: space-around;
  } 
  .dog-details .images img{
    width: 33%;

  }
}

